.magnifier {
  position: relative;
  .magnifier-small {
    position: relative;
    .magnifier-mask {
      position: absolute;
      width: 100px;
      height: 100px;
      background: rgba(255, 255, 0, 0.4);
      top: 0;
      left: 0;
      cursor: move;
      display: none;
    }
  }
  .magnifier-big {
    position: absolute;
    top: 0;
    left: 360px;
    overflow: hidden;
    display: none;
    .magnifier-big-img {
        position: absolute;
        top: 0;
        left: 0;
    }
  }
}
